
    <div class="container-posts">
            
                <form class="container edit-popup popup post mb-5 mt-3">
                    {% include "network/partials/form_fields.html" with form=post_form %}
                    
                    <div class="d-flex justify-content-between">
                        <div class="btn btn-light cancel-edit-button">Cancel</div>
                        <input class="btn btn-info" type="submit" value="Edit post">
                    </div>

                </form>
                
                <form class="container delete-popup popup post mb-5 mt-3">  
                    <h5 class="d-flex justify-content-center">Do you want to delete the post?</h5>
                    <p class="d-flex justify-content-center" >This action cannot be reversed</p>          
                    <div class="d-flex justify-content-between">
                        
                        <div class="btn btn-light cancel-delete-button">Cancel</div>
                           
                        <input class="btn btn-danger" type="submit" value="Delete post">
                    </div>

                </form>

        {% for post in page_obj %}

       {% include "network/partials/post.html" %}

        {% endfor %}
    </div>

{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="">&laquo; First</a></li>
            <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
            <li class="page-item disabled"><a class="page-link" href="">Last &raquo;</a></li>
        {% endif %}
    </ul>
        <span class="small d-flex justify-content-center mb-3">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
</nav>
{% endif %}