{% extends "network/layout.html" %} {% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="#alert-compose"></div>

{% include "network/partials/post.html" %}

<div class="post mt-5">
    {% if user.is_authenticated %}
        <form class="post mb-4 mt-2" action="{% url 'comments' post.id %}"  method="POST">
            {% include "network/partials/form_fields.html" with form=comment_form %}
            <input class="btn btn-light" type="submit" value="New comment">
        </form>
    {% endif %}


    {% include "network/partials/comments.html" %}
</div>
{% endblock %}