{% extends "network/layout.html" %} {% load static %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="#alert-compose"></div>

        <div class="container-posts">
            <div>{{ post.user.username }}</div>
            <div>{{ post.content }}</div>
            <div>{{ post.timestamp }}</div>
            {% if user.is_authenticated and user == post.user %}
            <div><a href="{% url 'edit_post' post.id %}">Edit Post</a></div>
            {% endif %}
            <div>Count Likes:  {{ post.likes.all.count }}</div>
            {% for like in post.likes.all %} 
            <div>Likes User: {{ like.user.username }}</div>
            {% endfor %}

        </div>

    {% if user.is_authenticated %}
        <form action="{% url 'new_comment' post.id %}"  method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                    {{field}}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                        {% endfor %}
                    {% endif %}             
                </div>

            {% endfor %}
            
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="New Comment">
            </div>

        </form>
    {% endif %}

    {% for comment in comments %}
        <div>{{ comment.user.username }}</div>
        <div>{{ comment.content }}</div>
        <div>{{ comment.timestamp }}</div>
    {% endfor %}

{% endblock %}