{% extends "network/layout.html" %} {% load static %}

{% block script %}
    <script type="module" src="{% static 'network/main.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="#alert-compose"></div>
            <div class="user-avatar profile d-flex justify-content-center align-items-center gap-1 mb-4 mt-4">
                <svg class='avatar' xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="white"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>                
                <h2 class="post-username d-flex justify-content-center">{{ profile_user.username }}</h2>
            </div>
            
            <div class="d-flex justify-content-around">
                <div>Followers: <span class="circle">{{ users_followers.count }}</span></div>
                <div>Following: <span class="circle">{{ users_following.count }}</span></div>
            </div>
            {% if user.is_authenticated and profile_user != user %}
            <div class="d-flex justify-content-center mb-4 mt-3">
            <form action="{% url 'user_profile' profile_user.username %}" method="post">
                {% csrf_token %}
                {% if user in users_followers %}
                <input class="btn btn-danger" type="submit" value="Unfollow">
                {% else %}
                <input class="btn btn-light" type="submit" value="Follow">
                {% endif %}
            </form>
            </div>
            {% endif %}
            
        <div class="container-posts">
{% include "network/partials/popup.html" %}

{% include "network/partials/posts.html" %}
        </div>

{% endblock %}