$primary-color: rgb(185, 60, 185);
$border-color: rgb(219, 215, 219);

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-light{
    border-color: $primary-color;
    background-color: white;

    &:hover{
        border-color: $primary-color;
        background-color: rgb(206, 202, 202);
    }
}

.container{
    max-width: 650px;
}

/* POST */

.post{
    border: thin solid $border-color;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}

.post-header > a {
    text-decoration: none;

}

.post-username {
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    color: black
}

.post-date {
    color: grey
}

.post-content{
    margin-bottom: 15px;
    margin-top: 5px;
}

.post-likes-heart.liked{
    border-style: solid;
}

/* FORM */

textarea.form-control {
  resize: none;
  border: none;
}

input[type=submit]{
    display:block;
    margin-left:auto;
}